{
  "openapi": "3.0.3",
  "info": {
    "title": "NovaShield Security API",
    "description": "GoPlus-powered security API with AI analysis for blockchain security checks. Provides comprehensive security scanning for tokens, addresses, dApps, phishing detection, and rug pull detection.",
    "version": "1.0.0",
    "contact": {
      "name": "NovaShield",
      "url": "https://novashield.space"
    }
  },
  "servers": [
    {
      "url": "https://secure.novashield.space",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3005",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "Token Security",
      "description": "Token security scanning and analysis"
    },
    {
      "name": "Rug Check",
      "description": "Rug pull detection and analysis"
    },
    {
      "name": "Address Security",
      "description": "Wallet address security checks"
    },
    {
      "name": "dApp & Phishing",
      "description": "dApp and phishing site detection"
    },
    {
      "name": "Signature Security",
      "description": "Transaction signature analysis"
    },
    {
      "name": "Batch Operations",
      "description": "Batch security operations"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Check if the API service is running",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "healthy",
                  "service": "Nova Security API",
                  "timestamp": "2025-11-24T05:07:49.709Z",
                  "version": "1.0.0"
                }
              }
            }
          }
        }
      }
    },
    "/api/token/security": {
      "post": {
        "tags": ["Token Security"],
        "summary": "Check token security (basic)",
        "description": "Perform basic security checks on one or more token contracts using GoPlus",
        "operationId": "checkTokenSecurity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenSecurityRequest"
              },
              "examples": {
                "ethereum": {
                  "summary": "Ethereum USDT",
                  "value": {
                    "chainId": "1",
                    "contractAddresses": ["0xdac17f958d2ee523a2206206994597c13d831ec7"]
                  }
                },
                "solana": {
                  "summary": "Solana USDC",
                  "value": {
                    "chainId": "501",
                    "contractAddresses": ["EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token security data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenSecurityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/token/analyze": {
      "post": {
        "tags": ["Token Security"],
        "summary": "Analyze token with AI",
        "description": "Check token security and get AI-powered risk analysis",
        "operationId": "analyzeToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenAnalyzeRequest"
              },
              "example": {
                "chainId": "1",
                "contractAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token analysis with AI insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/token/comprehensive": {
      "post": {
        "tags": ["Token Security"],
        "summary": "Comprehensive token report",
        "description": "Get comprehensive security report including token security, contract analysis, and AI insights",
        "operationId": "comprehensiveTokenReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenAnalyzeRequest"
              },
              "example": {
                "chainId": "1",
                "contractAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comprehensive token report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComprehensiveTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rug/check": {
      "post": {
        "tags": ["Rug Check"],
        "summary": "Check for rug pull risks",
        "description": "Analyze token contract for rug pull indicators including liquidity locks, ownership issues, and suspicious patterns",
        "operationId": "checkRugPull",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RugCheckRequest"
              },
              "example": {
                "chainId": "1",
                "contractAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rug pull risk analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RugCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/address/security": {
      "post": {
        "tags": ["Address Security"],
        "summary": "Check address security",
        "description": "Check if a wallet address has been involved in malicious activities",
        "operationId": "checkAddressSecurity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressSecurityRequest"
              },
              "example": {
                "chainId": "1",
                "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address security data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSecurityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/address/analyze": {
      "post": {
        "tags": ["Address Security"],
        "summary": "Analyze address with AI",
        "description": "Check address security with AI-powered risk analysis",
        "operationId": "analyzeAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressSecurityRequest"
              },
              "example": {
                "chainId": "1",
                "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address analysis with AI insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/dapp/security": {
      "post": {
        "tags": ["dApp & Phishing"],
        "summary": "Check dApp security",
        "description": "Check if a dApp URL is safe",
        "operationId": "checkDappSecurity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DappSecurityRequest"
              },
              "example": {
                "url": "https://uniswap.org"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "dApp security data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DappSecurityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/phishing/check": {
      "post": {
        "tags": ["dApp & Phishing"],
        "summary": "Check for phishing",
        "description": "Check if a URL is a known phishing site",
        "operationId": "checkPhishing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhishingCheckRequest"
              },
              "example": {
                "url": "https://uniswap.org"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phishing check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhishingCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/signature/security": {
      "post": {
        "tags": ["Signature Security"],
        "summary": "Check signature security",
        "description": "Analyze transaction signature/input data for security risks",
        "operationId": "checkSignatureSecurity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureSecurityRequest"
              },
              "example": {
                "chainId": "1",
                "data": "0xa9059cbb0000000000000000000000001234567890123456789012345678901234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature security analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureSecurityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/batch/analyze": {
      "post": {
        "tags": ["Batch Operations"],
        "summary": "Batch analyze multiple items",
        "description": "Perform multiple security checks in a single request",
        "operationId": "batchAnalyze",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAnalyzeRequest"
              },
              "example": {
                "operations": [
                  {
                    "type": "token",
                    "params": {
                      "chainId": "1",
                      "contractAddresses": ["0xdac17f958d2ee523a2206206994597c13d831ec7"]
                    }
                  },
                  {
                    "type": "address",
                    "params": {
                      "chainId": "1",
                      "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your Bearer token in the format: Bearer {token}"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "healthy"
          },
          "service": {
            "type": "string",
            "example": "Nova Security API"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-24T05:07:49.709Z"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          }
        }
      },
      "TokenSecurityRequest": {
        "type": "object",
        "required": ["chainId", "contractAddresses"],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Blockchain chain ID (1=Ethereum, 56=BSC, 137=Polygon, 501=Solana, etc.)",
            "example": "1"
          },
          "contractAddresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of token contract addresses to check",
            "example": ["0xdac17f958d2ee523a2206206994597c13d831ec7"]
          }
        }
      },
      "TokenAnalyzeRequest": {
        "type": "object",
        "required": ["chainId", "contractAddress"],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "contractAddress": {
            "type": "string",
            "description": "Token contract address",
            "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
          }
        }
      },
      "RugCheckRequest": {
        "type": "object",
        "required": ["chainId", "contractAddress"],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "contractAddress": {
            "type": "string",
            "description": "Token contract address to check for rug pull risks",
            "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
          }
        }
      },
      "AddressSecurityRequest": {
        "type": "object",
        "required": ["chainId", "address"],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "address": {
            "type": "string",
            "description": "Wallet address to check",
            "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
          }
        }
      },
      "DappSecurityRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "dApp URL to check",
            "example": "https://uniswap.org"
          }
        }
      },
      "PhishingCheckRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to check for phishing",
            "example": "https://uniswap.org"
          }
        }
      },
      "SignatureSecurityRequest": {
        "type": "object",
        "required": ["chainId", "data"],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "data": {
            "type": "string",
            "description": "Transaction data or signature to analyze",
            "example": "0xa9059cbb0000000000000000000000001234567890123456789012345678901234567890"
          }
        }
      },
      "BatchAnalyzeRequest": {
        "type": "object",
        "required": ["operations"],
        "properties": {
          "operations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["token", "address", "rug"],
                  "description": "Type of operation"
                },
                "params": {
                  "type": "object",
                  "description": "Parameters for the operation"
                }
              }
            },
            "description": "Array of operations to perform"
          }
        }
      },
      "TokenSecurityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TokenSecurityData"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TokenSecurityData": {
        "type": "object",
        "properties": {
          "is_open_source": {
            "type": "string",
            "description": "Whether contract is open source (0/1)",
            "example": "1"
          },
          "is_proxy": {
            "type": "string",
            "description": "Whether contract is a proxy (0/1)",
            "example": "0"
          },
          "is_mintable": {
            "type": "string",
            "description": "Whether token can be minted (0/1)",
            "example": "0"
          },
          "can_take_back_ownership": {
            "type": "string",
            "description": "Whether ownership can be taken back (0/1)",
            "example": "0"
          },
          "owner_change_balance": {
            "type": "string",
            "description": "Whether owner can change balances (0/1)",
            "example": "0"
          },
          "hidden_owner": {
            "type": "string",
            "description": "Whether there's a hidden owner (0/1)",
            "example": "0"
          },
          "selfdestruct": {
            "type": "string",
            "description": "Whether contract can selfdestruct (0/1)",
            "example": "0"
          },
          "external_call": {
            "type": "string",
            "description": "Whether contract makes external calls (0/1)",
            "example": "0"
          },
          "buy_tax": {
            "type": "string",
            "description": "Buy tax percentage",
            "example": "0"
          },
          "sell_tax": {
            "type": "string",
            "description": "Sell tax percentage",
            "example": "0"
          },
          "is_honeypot": {
            "type": "string",
            "description": "Whether token is a honeypot (0/1)",
            "example": "0"
          },
          "transfer_pausable": {
            "type": "string",
            "description": "Whether transfers can be paused (0/1)",
            "example": "0"
          },
          "is_blacklisted": {
            "type": "string",
            "description": "Whether token is blacklisted (0/1)",
            "example": "0"
          },
          "is_whitelisted": {
            "type": "string",
            "description": "Whether token has whitelist (0/1)",
            "example": "0"
          },
          "is_in_dex": {
            "type": "string",
            "description": "Whether token is listed on DEX (0/1)",
            "example": "1"
          },
          "holder_count": {
            "type": "string",
            "description": "Number of token holders",
            "example": "5847291"
          },
          "total_supply": {
            "type": "string",
            "description": "Total token supply",
            "example": "45283098435.077835"
          },
          "lp_holder_count": {
            "type": "string",
            "description": "Number of liquidity pool holders",
            "example": "352"
          },
          "lp_total_supply": {
            "type": "string",
            "description": "Total LP supply",
            "example": "9457381493225.959"
          }
        }
      },
      "AIAnalysis": {
        "type": "object",
        "properties": {
          "riskScore": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Risk score from 0 (safe) to 100 (dangerous)",
            "example": 10
          },
          "riskLevel": {
            "type": "string",
            "enum": ["Low", "Medium", "High", "Critical", "Unknown"],
            "description": "Risk level classification",
            "example": "Low"
          },
          "summary": {
            "type": "string",
            "description": "AI-generated summary of security analysis",
            "example": "The token shows minimal security risks. Contract is open source and verified."
          },
          "risks": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of identified risks",
            "example": ["No major risks detected"]
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Security recommendations",
            "example": ["Always verify contract addresses before transactions"]
          }
        }
      },
      "TokenAnalyzeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "securityData": {
                "$ref": "#/components/schemas/TokenSecurityData"
              },
              "aiAnalysis": {
                "$ref": "#/components/schemas/AIAnalysis"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ComprehensiveTokenResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "tokenSecurity": {
                "$ref": "#/components/schemas/TokenSecurityData"
              },
              "contractSecurity": {
                "type": "object",
                "description": "Contract approval security data"
              },
              "aiAnalysis": {
                "$ref": "#/components/schemas/AIAnalysis"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RugCheckResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "isRugPull": {
                "type": "boolean",
                "description": "Whether token shows rug pull indicators",
                "example": false
              },
              "rugScore": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100,
                "description": "Rug pull risk score (0=safe, 100=high risk)",
                "example": 15
              },
              "indicators": {
                "type": "object",
                "properties": {
                  "liquidityLocked": {
                    "type": "boolean",
                    "description": "Whether liquidity is locked"
                  },
                  "ownershipRenounced": {
                    "type": "boolean",
                    "description": "Whether contract ownership is renounced"
                  },
                  "honeypotRisk": {
                    "type": "boolean",
                    "description": "Honeypot detection"
                  },
                  "suspiciousHoldings": {
                    "type": "boolean",
                    "description": "Large holder concentration detected"
                  }
                }
              },
              "aiAnalysis": {
                "$ref": "#/components/schemas/AIAnalysis"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AddressSecurityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Address security data from GoPlus"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AddressAnalyzeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "securityData": {
                "type": "object"
              },
              "aiAnalysis": {
                "$ref": "#/components/schemas/AIAnalysis"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DappSecurityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "dApp security data"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PhishingCheckResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "phishing_site": {
                "type": "integer",
                "description": "Whether site is phishing (0=safe, 1=phishing)",
                "example": 0
              },
              "website_contract_security": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Contract security info if applicable"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SignatureSecurityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Signature security analysis"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BatchAnalyzeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "object",
                  "description": "Original operation request"
                },
                "status": {
                  "type": "string",
                  "enum": ["fulfilled", "rejected"],
                  "description": "Operation status"
                },
                "data": {
                  "type": "object",
                  "description": "Operation result data (if fulfilled)"
                },
                "error": {
                  "type": "string",
                  "description": "Error message (if rejected)"
                }
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Missing required fields"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Missing required fields: chainId and contractAddress",
              "timestamp": "2025-11-24T05:07:49.709Z"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Token data not found",
              "timestamp": "2025-11-24T05:07:49.709Z"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Internal server error",
              "timestamp": "2025-11-24T05:07:49.709Z"
            }
          }
        }
      }
    }
  }
}

