{
  "openapi": "3.1.0",
  "info": {
    "title": "NovaShield Security API",
    "description": "AI-powered security API for detecting malicious domains and transactions using GoPlus integration",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.novashield.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/security/scan/domain": {
      "post": {
        "summary": "Scan Domain",
        "description": "Scan a domain for malicious activity using AI and GoPlus threat intelligence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain scan results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityScanResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/security/scan/transaction": {
      "post": {
        "summary": "Scan Transaction",
        "description": "Analyze a blockchain transaction for security threats and malicious patterns",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction scan results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityScanResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/security/threats": {
      "get": {
        "summary": "Get Threat Intelligence",
        "description": "Retrieve latest threat intelligence and security updates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by threat severity level",
            "schema": {
              "type": "string",
              "enum": ["critical", "high", "medium", "low"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of threat intelligence",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThreatIntelligence"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DomainScanRequest": {
        "type": "object",
        "required": ["domain"],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain URL to scan for malicious activity",
            "example": "example-dapp.com"
          }
        }
      },
      "TransactionScanRequest": {
        "type": "object",
        "required": ["transaction_hash", "chain"],
        "properties": {
          "transaction_hash": {
            "type": "string",
            "description": "Transaction hash to analyze",
            "example": "0x1234567890abcdef..."
          },
          "chain": {
            "type": "string",
            "description": "Blockchain network",
            "example": "ethereum"
          }
        }
      },
      "SecurityScanResult": {
        "type": "object",
        "properties": {
          "scan_id": {
            "type": "string",
            "description": "Unique identifier for this scan",
            "example": "scan_abc123xyz"
          },
          "is_malicious": {
            "type": "boolean",
            "description": "Whether the scanned item is malicious"
          },
          "risk_level": {
            "type": "string",
            "enum": ["safe", "low", "medium", "high", "critical"],
            "description": "Overall risk assessment"
          },
          "ai_analysis": {
            "type": "object",
            "properties": {
              "confidence": {
                "type": "number",
                "description": "AI confidence score (0-1)",
                "example": 0.95
              },
              "reasoning": {
                "type": "string",
                "description": "AI explanation of the threat assessment",
                "example": "Domain exhibits phishing patterns similar to known scams"
              }
            }
          },
          "goplus_data": {
            "type": "object",
            "description": "Raw data from GoPlus API"
          },
          "threats_detected": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of specific threats identified",
            "example": ["phishing", "fake_token"]
          },
          "scanned_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when scan was performed"
          }
        }
      },
      "ThreatIntelligence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Threat intelligence ID"
          },
          "type": {
            "type": "string",
            "description": "Type of threat",
            "example": "wallet_drain"
          },
          "severity": {
            "type": "string",
            "enum": ["critical", "high", "medium", "low"]
          },
          "description": {
            "type": "string",
            "description": "Description of the threat"
          },
          "indicators": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Indicators of compromise"
          },
          "reported_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  }
}
